// Global styles

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background: black;
}

.content {
    height: 75%; // 10 + 15 + 75 = 100
}
